
.blink {
  font-weight: 300;
  text-justify: auto;
  text-align: center;
  width: 15rem;
  animation: blinker 1s step-start infinite;
  
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}

.container{
  position: relative;
  margin-top: 7rem;
  float: left;
  margin-left: 6rem;
  width: 60%;
}