{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}

<div class="container"></div>
{% block content %}

    <h1><b>My Blog</b></h1>
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}

    
    


    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
            <p class="tags">
                Tags: 
                {% for tag in post.tags.all %}
                <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:20|linebreaks }}
    {% endfor %}
    {% include "pagination.html" with page=posts %}

{% endblock %}
</div>

<div class="pagination">
    <span class="step-links">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">Previous</a>
    {% endif %}
        <span class="current">
        Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}">Next</a>
    {% endif %}
    </span>
</div>
</div>



