{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html style="font-family:'JetBrains Mono', monospace">
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="SHORTCUT ICON" href="https://magmukendi.com/assets/images/FAVICON-profile.ico" type="image/x-icon" />
    <title>{% block title %}Here we go{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JetBrains+Mono:wght@500&display=swap">
    <link href="{% static 'blog/css/style1.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/media_queries.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/footer.css' %}" rel="stylesheet">




</head>
<body>

    <header>
        <nav>
            <div class="left">
            <a href="post/base.html"> Home</a>
            </div>

            <div class="center">
                <img id="head-logo"src="{% static 'blog/images/my_head.png' %}" alt="">
            </div>
            <div class="right">
                    <a href="/services.html">Services</a>
                    <a href="">Projects</a>
                    <a href="/survey.html">Surveys</a>
                    <a href="">About</a>
                    
            </div>
        </nav>
    </header>
    <div class="container">
    <!--<div class="blink">It's<b> {% now "jS F  f"%}</b></div> -->
    {% block content %}
    {% endblock %}
    </div>

    <div id="sidebar">
        <h2 class="side-text">My Blog</h2>
        <p class="side-text">This is my blog. I've written {%total_posts%} posts so far.</p>
        <h3>Latest posts</h3>
        {% show_latest_posts 3 %}
        
        <h3>Most commented posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
        {% for post in most_commented_posts %}
        <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        </ul>  
    </div>

    <footer id="footer">
        <div class="footer-text">
            <a href="">Term of usage</a>
            <a href="">User's code of conduct</a>
            <a href="">kakaopayme</a>
        </div>
        <p></p>
        <p >Copyright Mag Mukendi 2022</p>
    </footer>

</body>
</html>